body{
  text-align: center;
}

.jumbotron{
  background-color: black;
  color: white;
}

#pitch {
  display: none;

}

img{
  background-position: center;
}

.rules  {
  float: left;
  padding-top: 20px;
}

.begin {
  border-style: dashed;;
  border-width: thick;
  border-color: yellow;

}

.play  {
  padding-top: 50px;
}

.footer {
  display: block;
  position: relative;
}
